<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yujianghuai.admin.mapper.SysRoleMapper">

    <resultMap id="BaseResultMap" type="com.yujianghuai.admin.entity.SysRole">
        <id column="id" property="id" />
        <result column="tenant_id" property="tenantId" />
        <result column="role_code" property="roleCode" />
        <result column="role_name" property="roleName" />
        <result column="role_type" property="roleType" />
        <result column="data_scope" property="dataScope" />
        <result column="sort_order" property="sortOrder" />
        <result column="status" property="status" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <sql id="Base_Column_List">
        `id`, `tenant_id`, `role_code`, `role_name`, `role_type`, `data_scope`, `sort_order`, `status`, `create_by`, `update_by`, `create_time`, `update_time`, `del_flag`
    </sql>

</mapper>
