<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yujianghuai.fund.mapper.BizUserFundHoldingMapper">

    <resultMap id="BaseResultMap" type="com.yujianghuai.fund.entity.BizUserFundHolding">
        <id column="id" property="id" />
        <result column="tenant_id" property="tenantId" />
        <result column="user_id" property="userId" />
        <result column="portfolio_id" property="portfolioId" />
        <result column="fund_id" property="fundId" />
        <result column="fund_code" property="fundCode" />
        <result column="fund_name" property="fundName" />
        <result column="holding_shares" property="holdingShares" />
        <result column="available_shares" property="availableShares" />
        <result column="frozen_shares" property="frozenShares" />
        <result column="cost_amount" property="costAmount" />
        <result column="cost_nav" property="costNav" />
        <result column="market_value" property="marketValue" />
        <result column="latest_nav" property="latestNav" />
        <result column="latest_nav_date" property="latestNavDate" />
        <result column="today_estimated_value" property="todayEstimatedValue" />
        <result column="today_profit" property="todayProfit" />
        <result column="holding_profit" property="holdingProfit" />
        <result column="holding_profit_rate" property="holdingProfitRate" />
        <result column="first_buy_date" property="firstBuyDate" />
        <result column="last_trade_time" property="lastTradeTime" />
        <result column="sort_order" property="sortOrder" />
        <result column="status" property="status" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <sql id="Base_Column_List">
        `id`, `tenant_id`, `user_id`, `portfolio_id`, `fund_id`, `fund_code`, `fund_name`, `holding_shares`, `available_shares`, `frozen_shares`, `cost_amount`, `cost_nav`, `market_value`, `latest_nav`, `latest_nav_date`, `today_estimated_value`, `today_profit`, `holding_profit`, `holding_profit_rate`, `first_buy_date`, `last_trade_time`, `sort_order`, `status`, `create_by`, `update_by`, `create_time`, `update_time`, `del_flag`
    </sql>

</mapper>
