<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yujianghuai.fund.mapper.BizUserPortfolioMapper">

    <resultMap id="BaseResultMap" type="com.yujianghuai.fund.entity.BizUserPortfolio">
        <id column="id" property="id" />
        <result column="tenant_id" property="tenantId" />
        <result column="user_id" property="userId" />
        <result column="portfolio_name" property="portfolioName" />
        <result column="portfolio_type" property="portfolioType" />
        <result column="target_amount" property="targetAmount" />
        <result column="risk_preference" property="riskPreference" />
        <result column="sort_order" property="sortOrder" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <sql id="Base_Column_List">
        `id`, `tenant_id`, `user_id`, `portfolio_name`, `portfolio_type`, `target_amount`, `risk_preference`, `sort_order`, `status`, `remark`, `create_by`, `update_by`, `create_time`, `update_time`, `del_flag`
    </sql>

</mapper>
